*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Inter', sans-serif;
}
.login_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #606C38;
}
.login-logo a {
    font-size: 60px;
    margin-left: 2rem;
    width: 4rem;
  }

.login-image {
    margin: auto auto;
    margin-bottom: 40%;
}
.brand_logo{
    background-image: url('../images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    border-bottom: 3px solid #263618;
    box-sizing: border-box;
} 

.brand_logo img{
    padding-bottom: auto;
}

.main{
    background-color: #FEFAE0;
    width: 60%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    border-bottom: 3px solid #263618;
    box-sizing: border-box;
}

.form_input{
    margin: auto;
    height: 500px;
    width : 400px;
    border: 2px solid #606C38;
    border-radius: 30px;
    border-color: #606C38 ;
    padding: 20px;
    box-sizing: border-box;
    
}

.form_input h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: 50px;
}

.form_input input, .form_input label{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}


.form_input input{
    margin-top: -15px;
    padding: 9px;
    box-sizing: border-box;
    border: 2px solid #606C38;
    border-radius: 4px;
    background-color: #FEFAE0;
}

.form_input button {
    background-color: #606C38;
    border: none;
    border-radius: 11px;
    color: #FEFAE0;
    padding: 8px 32px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.login_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -20px;
    margin-bottom: 10px;
}

.login_btn button{
    font-size: 14px;
    letter-spacing: 1px;
}

.form_input p{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.form_input p a {
    text-decoration: none;
    color: #606C38;
}

@media screen and (max-width: 768px) {
    .brand_logo{
      width: 100%;
    }

    .login-image img{
      width: 100%;
    }
    .main {
      width: 100%;
    }
    .login_container {
      flex-direction: column;
      width: 100%;
    }
  }