*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Inter', sans-serif;
}
.regis_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #606C38;
}

.brand_logo{
    background-image: url('../images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 100vh;
    flex-direction: colomn;
    display: flex;
    border-bottom: 3px solid #263618;
    box-sizing: border-box;
} 

.brand_logo img{
    margin: auto;
}
.main{
    background-color: #FEFAE0;
    width: 60%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    border-bottom: 3px solid #263618;
    box-sizing: border-box;
    place-content: center;
}

.form_input{
    margin: auto;
    height: 500px;
    width : 400px;
    border: 2px solid #606C38;
    border-radius: 30px;
    border-color: #606C38 ;
    padding: 20px;
    box-sizing: border-box;
    
}

.form_input h1{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

.form_input .user_input{
    width: 80%;
    margin: auto;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    
}


.form_input form input{
    margin-top: -15px;
    padding: 9px;
    box-sizing: border-box;
    border: 2px solid #606C38;
    border-radius: 4px;
    background-color: #FEFAE0;
}

.form_input form button {
    background-color: #606C38;
    border: none;
    border-radius: 11px;
    color: #FEFAE0;
    padding: 15px 32px;
    box-sizing: border-box;
    margin: 4px 2px;
    cursor: pointer;

}

.regis_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.regis_btn button{
    text-decoration: underline;
    font-size: 14px;
    letter-spacing: 1px;
}

/* form.regis_btn a{
    display:inline-block;
} */

.form_input form p{
    margin-top: 3px;
    margin-left: -10px;
    font-size: 9.5px;
    word-spacing: -0.5px;
    text-align : center;

}

.footer{
    background-color: #263618;
    text-align: center;
    place-content: center;
    color: #FEFAE0;
    border-top: 1px solid #FEFAE0;
    box-sizing: border-box;
}

.footer p3{
    color: #606C38;
    font-size: 14px;
}