.register-logo {
    background: url('../images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  
  .register-logo a {
    font-size: 60px;
    margin-left: 2rem;
    width: 4rem;
  }
  
  .register-logo img {
    margin: auto auto;
    margin-bottom: 40%;
  }
  
  .register {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #606C38;
    }
    .register_field h1 {
      font-size: 48px;
      color: #000;
      font-weight: 300;
      text-decoration: underline 3px;
      margin-block-start: 1rem;
      margin-block-end: 0;
    }
    .register__container {
      width: 60%;
      height: 100vh;
      background-color: #FEFAE0;
      display: flex;
    }
    .register_field {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 80%;
      justify-content: center;
      margin: auto;
      border: 1px solid #606C38;
      border-radius: 65px;
    }
    .register_input {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .register_input label {
      text-align: left;
      color: gray;
    }
    .register__textBox {
      background-color: #FEFAE0;
      padding: 5px;
      font-size: 18px;
      margin-bottom: 10px;
      border-radius: 9px;
      width: 95%;
    }
    .register__btn {
      padding: 10px;
      font-size: 18px;
      border: none;
      color: white;
      background-color: #606C38;
      width: 10rem;
      border-radius: 30px;
    }
  
    .button-container-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
    }
  
      @media screen and (max-width: 768px) {
        .register-logo{
          width: 100%;
        }
    
        .register-logo img{
          width: 80%;
          margin-top: auto;
        }
        .register__container {
          width: 100%;
          height: 100%;
          padding: 3rem 0;
        }
        .register {
          flex-direction: column;
          width: 100%;
        }
      }